.App_TreeView {
  background: lightgrey;
  border-right: .1rem solid grey;
  display: block;
  float: left;
  height: 100vh;
  margin-right: -.1rem;
  position: relative;
  width: 24rem;
}

.App_ReactTree {
  display: block;
  float: left;
  width: calc(100vw - 48rem);
}

.App_Edit {
  background: lightgrey;
  border-left: .1rem solid grey;
  display: block;
  float: left;
  height: 100vh;
  margin-left: -.1rem;
  overflow-y: scroll;
  width: 24rem;
}

.App_Code {
  background: black;
  bottom: 0;
  color: green;
  left: 0;
  margin: 0;
  padding: 2rem;
  position: absolute;
  width: calc(100% - 4rem);
}
