.App_TreeView {
  background: lightgrey;
  border-right: .1rem solid grey;
  display: block;
  float: left;
  height: 100vh;
  margin-right: -.1rem;
  overflow-y: scroll;
  position: relative;
  width: 24rem;
}

.App_ReactTree {
  background: lightgrey;
  display: block;
  float: left;
  height: 100vh;
  overflow-y: scroll;
  width: calc(100vw - 48rem);
}

.App_Edit {
  background: lightgrey;
  border-left: .1rem solid grey;
  display: block;
  float: left;
  height: 100vh;
  margin-left: -.1rem;
  overflow-y: scroll;
  width: 24rem;
}
